@*@if (mostrar)*@
{
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Anuncio</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="card text-center" style="width: 18rem; background-color: #FFEC84">
                        <div class="card-header">
                            <h2 class="text-center">@completo.Tipo</h2>
                        </div>
                        @*<img src="/image/mascota2.jpg" class="card-img-top" alt="anuncio1">*@
                        <img src="@completo.RutaFoto" class="card-img-top" alt="tipo">
                        <div class="card-body">
                            <h3 class="text-center">@completo.Nombre</h3>
                            <p class="text-center">@completo.Descripcion</p>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@completo.Tamano</li>
                            <li class="list-group-item">Fecha:@completo.FechaSuceso.ToShortDateString()</li>
                            <li class="list-group-item">Color: @completo.ColorRGB1 - @completo.ColorRGB2</li>
                        </ul>
                        <div class="card-body">

                            @*<button type="button" class="btn btn-primary btn-sm btn-block">Lo ví</button>
                                <button type="button" class="btn btn-warning btn-sm btn-block">Lo tengo conmigo</button>
                                <button type="button" class="btn btn-success btn-sm btn-block">Más info</button>*@
                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="btn-group btn-group">
                        <button type="button" class="btn btn-primary">Lo ví</button>
                        <button type="button" class="btn btn-warning">Lo tengo</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
}


@code {
    private bool mostrar = false;
    [Parameter] public Anuncio completo { get; set; }
    public void Mostrar() => mostrar = true;

    public void Ocultar() => mostrar = false;

}
